/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    background: #fafafa;
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: black;
    font-family: Inter;
    font-weight: 500;
}

/* ------------------------------------------------------------------------------- */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/* -------HEADER------------------------------------------------------------------- */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 75px;
    align-items: center;
}

@media (max-width: 479px) {
    .header__container {
        min-height: 70px;
    }
}


.header__logo {
    font-size: 24px;
    font-weight:300;
    color: white;
}

.header__menu {
    margin: 0px 0px 0px 120px;
}

@media (max-width: 992px) {
    .header__menu {
        margin: 0px 0px 0px 80px;
    }
}

@media (max-width: 767px) {
    .header__menu {
        margin: 0px 0px 0px 40px;
    }
}

@media (max-width: 479px) {
    .header__menu {
        margin: 0px 0px 0px 20px;
    }
}

.menu {

}

.menu__list {
    flex-wrap: wrap;
    display: flex;
}

.menu__item {
}

.menu__item:not(:last-child) {
    margin: 0px 20px 0px 0px;
}

.menu__link {
    line-height: calc(24 / 16 * 100%);
    font-weight: 300;
    color: white;
}

@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
    }
}

/* -------PAGE------------------------------------------------------------------- */
.page {
    flex: 1 1 auto;
}

.page__main-block {
}

.page__services {
    position: relative;
    z-index: 2;
    margin: -110px 0px 0px 0px;
}

.page__about {
}

/* -------HEADER-BLOCK------------общий_стиль_для_блоков------------------------------------------------------ */

.header-block {
    text-align: center;
    letter-spacing: 0,2px;
}
.header-block__title {
    font-weight: 700;
    line-height: 140%;
    font-size: 40px;
}
.header-block__title:not(:last-child) {
    margin: 0px 0px 5px 0px;
}

.header-block__sub-title {
    font-weight: 300;
    line-height: 140%;
    color: #737373;
    font-size: ;
}

/* -------FOOTER------------------------------------------------------------------- */
.footer {

}

/* -------MAIN-BLOCK--------------------------------------------------------------------- */
.main-block {
    position: relative;
}
.main-block__container {
}
._container {
}
.main-block__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
}

@media (max-width: 992px)  {
    .main-block__body {
        padding: 120px 0px 171px 0px;
    }
}

@media (max-width: 479px)  {
    .main-block__body {
        padding: 120px 0px 191px 0px;
    }
}

.main-block__body > *:not(:last-child){
    margin: 0px 0px 15px 0px;
}
.main-block__title {
    font-size: 48px;
    line-height: calc(58 / 48 * 100%);  
    font-weight: 700;
    color: white;
    max-width: 592px;
}

@media (max-width: 479px) {
    .main-block__title {
        font-size: 42px;
    }
}

.main-block__text {
    font-size: 27px;
    line-height: (39 / 32 * 100%);
    font-weight: 300;
    color: white;
}
.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}
.main-block__button {
    border-radius: 20px;
    display: flex;
    min-height: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
    text-align: center;
    padding: 5px 23px;
    font-size: 14px;
    margin: 10px 0;
}

@media (max-width:479px) {
    .main-block__button {
        /* display: block; */
        flex: 1 1 100%;
        min-height: 40px;
    }
}

@media (min-width:479px) {
    .main-block__button:not(:last-child) {
        margin-right: 15px;
    }
}

.main-block__button_blue {
    background: #404E87;
}

.main-block__button_border {
    border: 0.7px solid white;
    transition: ease-in-out 0.3s;
}

@media (min-width:479px) {
    .main-block__button_border:hover {
        /* color: rgb(118, 121, 255); */
        text-align: center;
        background-color: #fcfcfc2d;
        /* border: 0.7px solid #404E87; */
        /* padding-right: 60px; */
        
    }
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.main-block__image img {
    object-position: bottom;
} 

/* ----SERVICES-------------------------------- */
.services {
}
.services__container {
}

.services__body {

}

@media (min-width: 700px) {
    .services__body{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
    }
}

.services_column {
    /* padding: 0px 15px; */
    flex: 0 1 33.333%;
    margin: 0px 0px 30px 0px;
}


@media (min-width: 714px) {
    .services_column {
        padding: 0px 15px; 
    }
} 

@media (max-width: 1000px) {
    .services_column {
       flex: 0 1 50%; 
    }

    .services_column:not(:last-child) {
        margin: 0px 0px 30px 0px;
    }

    .services_column:last-child {
        flex: 1 1 100%;
    }
}
.services_item {
    height: 100%;
    /* max-width: 300px; */
    box-shadow: 0px 180px 50px rgba(0, 0, 0, 0.01), 0px 115px 46px rgba(0, 0, 0, 0.04), 0px 65px 39px rgba(0, 0, 0, 0.15), 0px 29px 29px rgba(0, 0, 0, 0.26), 0px 7px 16px rgba(0, 0, 0, 0.29), 0px 0px 0px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 35px;
    border: 0.7px solid #D1D1D1;
    border-radius: 20px;
    
}

@media (max-width: 479px) {
    .services_item {
        padding: 25px;
    }
}

.item-service {
    
}

.item-service > *:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.item-service_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
}
.item-service__line {
    border-bottom: 2px solid rgb(0, 0, 0);
}
.item-service__text {
    font-weight: 300;
    /* font-size: 20px; */
    line-height: 142%;
    /* max-height: 120px; */
}

/* -------ABOUT_BLOCK------------------------------------------------------------------- */
.about {
    padding: 80px 0;
}
.about__container {
}

.about__header {
    margin:  0px 0px 50px 0px;
}

.about__body {
    display: flex;
    margin: 0px -15px;
}
.about_column {
    padding:  0px 15px;
    flex: 0 1 50%;
}
.about__item {
    background-color: #404E87;
    padding: 15px;
}
.about_title {
    font-size: 30px;
    font-weight: 300;
    line-height: 150%;
}
.about__name_title {
    font-size: 26px;
    font-weight: 700px;
    line-height: 123%;

}
.about__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 123%;
}

.about-block__image {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 700px;
    left: 0;
}

.about-block__image img {
    object-position: bottom;
} 